@import '@/styles/index.scss';
$boxbgColor:#F9F9F9;
.subject-list{
  padding:0 px2rem(20px) 0;
  width:100%;
  background-color: $white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
    .subject-item-wrap{opacity: 0;}
    .subject-item{
      width:px2rem(118px);
      height: px2rem(118px);
      line-height: px2rem(118px);
      text-align: center;
      font-size: px2rem(32px);
      color: $textTitle;
      border-radius: px2rem(10px);
      background-color: $boxbgColor;
      margin:0 px2rem(20px) px2rem(20px) 0;
      position: relative;
      .float-tip{
        position: absolute;
        bottom: 0;
        right: 0;
        width: px2rem(40px);
        height: px2rem(28px);
        .float-common-tip{
          width: px2rem(40px);
          height: px2rem(28px);
        }
        .success-tip{
          @include img-retina('~@/assets/party/Yes2x.png', '~@/assets/party/Yes3x.png', 100%,100%);
        }
        .error-tip{
          @include img-retina('~@/assets/party/Wrong2x.png', '~@/assets/party/Wrong3x.png', 100%,100%);
        }
      }
  }
  .current-tip{
    border:px2rem(1px) solid $themeRed;
    color: $themeRed;
  }
  .old-tip{
    color: #F9F9F9;
  }
  .isanswer{
    color:$descColor;
  }
  .mr0{margin-right: 0;}
}
