INSTALL_LANGUAGE=JS
INSTALL_NPM=TRUE
NODE_VERSION=10.12.0
APP_SERVICE_NAME=front-aixiu-site-h5
K8S_NAMESPACE=aixiu
K8S_DOMAIN=xzh5-dev.aihoge.com
CUSTOM_HOST=-ax-dev.aihoge.com
CUSTOM_APPID=wx2e98fb1d45a98f73
CUSTOM_COMP_APPID=wx566758628b7a3fa2
CUSTOM_REDIRECT_URI=//xzh5-dev.aihoge.com/bridge.html
CUSTOM_PLAT=dev
NPM_COMMAND=k8sdev
PROJECT_PlATFORM=fujian-answer