@font-face {
  font-family: 'examfont';  /* project id 1014978 */
  src: url('//at.alicdn.com/t/font_1014978_z3bb4c5lpd.eot');
  src: url('//at.alicdn.com/t/font_1014978_z3bb4c5lpd.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1014978_z3bb4c5lpd.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1014978_z3bb4c5lpd.woff') format('woff'),
  url('//at.alicdn.com/t/font_1014978_z3bb4c5lpd.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1014978_z3bb4c5lpd.svg#iconfont') format('svg');
}

.examfont {
  font-family: "examfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-image:before {
  content: "\e6fb";
}

.icon-audio:before {
  content: "\e6fc";
}

.icon-video:before {
  content: "\e6fd";
}
