@import './base/reset.scss'; // 引入重置css样式
@import './base/var.scss'; // 引入mixin和函数
@import './base/animations.scss'; // 引入公共动画
@import './theme/default.scss'; // 引入默认的颜色配色

body{
  background-color:$bgColor;
}
img{
  width:100%;
  height:100%;
  object-fit: cover;
}
