@import './base/reset.scss'; // 引入重置css样式
@import './base/var.scss'; // 引入mixin和函数
@import './base/animations.scss'; // 引入公共动画

body{
  @include bg_color('bgColor');
}
img{
  width:100%;
  height:100%;
  object-fit: cover;
}

.box-shadow{
  box-shadow: 0 0 px2rem(30px) rgba(0,0,0,0.1);
}

// 去除所有滚动条显示
::-webkit-scrollbar {
  width: 0 !important ;
  height: 0 !important;
}
