@import "@/styles/index.scss";

/** 音频图片 */
.icon-arrow-wrap {
  display: inline-block;
  position: relative;
  width: px2rem(30px);
  height: px2rem(30px);
  margin-right: px2rem(20px);
  .arrow-bottom {
    position: absolute;
    right: 10%;
    top: 0;
    width: 0;
    height: 0;
    border: px2rem(15px) solid transparent;
    border-right: none;
    border-left-width: px2rem(18px);
    border-left-style: solid;
    // border-left-color: #FC7465;
    @include bg-color('btnColor');
  }
  .arrow-top {
    position: absolute;
    left: 0;
    top: 0;
    width: px2rem(30px);
    height: px2rem(30px);
    background: url(http://xzh5.hoge.cn/new-vote/images/audio_tip_icon@3x.png) no-repeat center / contain;
    z-index: 1;
    transform: translateX(-23%);
  }
}

/** 文本方形图标 */
.icon-square-wrap {
  display: inline-block;
  position: relative;
  width: px2rem(23px);
  height: px2rem(23px);
  // background-color: #F06F64;
  @include bg-color('btnColor');
  margin-right: px2rem(20px);
  margin-left: px2rem(10px);
  &::after {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0);
    border: 1px solid #fff;
    content: '';
    transform: translate(-30%, -30%);
  }
}

.info-number-wrap {
  display: flex;
  align-items: center;
  .number-tip {
    @include font-dpr(11px);
    padding: 0 px2rem(15px) 0 px2rem(10px);
    border-radius: px2rem(24px) px2rem(4px) px2rem(34px) px2rem(4px);
    // background-color: #FC7465;
    @include bg-color('btnColor');
    color: #fff;
    height: px2rem(40px);
    line-height: px2rem(40px);
    margin-right: px2rem(15px);
  }
  .vote-tip {
    @include font-dpr(14px);
    color: #fff;
  }
}