$bgColor: #f7f7f7;
$themeRed: #DF3031;
$borderColor: #ebebeb;
$white: #fff;
$textTitle: #333333;
$textContent: #666666;
$textConfig: #999999;
$dateDesc: #B2B2B2;
$descColor:#b2b2b2;
$statusGray: #E6E6E6;
