// 主题颜色
$bgGrayColor: #f9f9f9;
$bgColor: #fff;
$themeColor: #25C17C;
$themeFadeColor:#4DD996;
// 其它背景颜色
$audioBg: #f5f5f5;
$audioProgressBar: #d9d9d9;
$tipBgColor: #f4f4f4;
// 文字颜色
$titleColor: #333;
$tipColor: #666;
$descColor: #999;
$descColorOne: #808080;
$errorColor: #FF564D;
$activeColor: #FFAB26;
$disabledColor: #AFAFAF;
$disabledColorOne: #ccc;
// 边框颜色
$borderColor: #dbdbdb;
$lineColor: #ebebeb;
$lineColorOne: #e6e6e6;
$lineColorTwo: #F15C5B;
$borderGray: #ccc;

// 颜色map
$defaultColorMap: (
  bgGrayColor: $bgGrayColor,
  bgColor: $bgColor,
  themeColor: $themeColor,
  themeFadeColor: $themeFadeColor,
  titleColor: $titleColor,
  descColor: $descColor,
  descColorOne: $descColorOne,
  tipColor:$tipColor,
  tipBgColor:$tipBgColor,
  errorColor: $errorColor,
  activeColor: $activeColor,
  disabledColor: $disabledColor,
  disabledColorOne: $disabledColorOne,
  borderColor: $borderColor,
  lineColor: $lineColor,
  lineColorTwo: $lineColorTwo,
  lineColorOne: $lineColorOne,
  borderGray: $borderGray,
  audioBg: $audioBg,
  audioProgressBar: $audioProgressBar
)
